#ProdContent{
    width: 100%;
    display: flex;
    /* height: 100vh; */
    margin-top: 90px;
    
    
}
h1{
    margin: 0;
    padding: 0;
    line-height: 29px;
    font-size: 28px;
    font-weight: 700;
}

#ProdContent .left-side{
    /* background-color: purple; */
    /* padding-top: 70px;
    padding-left: 180px; */
    width: 50%;
}
#ProdContent .left-side .contentArea{
    margin: 30px 70px 0px 140px;
    padding: 30px 40px 30px 40px;
    border: 1px solid black;
    /* background-color: #878c9e; */
    
    border-radius: 10px;
}
#ProdContent .right-side{
    /* background-color: rgb(126, 139, 150); */
    width: 50%;

}
#ProdContent .left-side .mainImg{
    width: 350px;
    box-shadow: 10px 20px 30px rgba(0,0,0,0.1);

}
#ProdContent .left-side .buttons{
    display: flex;
    width: 350px;
    justify-content: space-around;
    /* background-color: red; */
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#ProdContent .left-side button{
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
#ProdContent .left-side  .line{
    width: 350px;
    margin-top: 40px;
    font-size: 10px;
    background-color: white;
     height: 1px;
      border: none;
}
#ProdContent .left-side .similarProd{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
}
#ProdContent .left-side .similarProd .img{
    
    width: 70px;
    object-fit: cover;
    cursor: pointer;
}
#ProdContent .left-side p{

    font-size: 20px;
    /* background-color: aliceblue; */
}

#ProdContent .right-side .content{
    /* background-color: blanchedalmond; */
    /* padding-left:90px; */
    padding: 30px 0px 0px 40px;
}

/* top-side */ 

#ProdContent .right-side .top{
    border: 1px solid black;
    width: 85%;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
    /* padding-top: 40px; */
    /* margin-top: 30px; */
}
.alice{
    background-color: rgb(233, 242, 249);

}
#ProdContent .right-side .top p{
    margin: 0px;
}
#ProdContent .right-side .top .name{
    margin-bottom: 10px;
    font-size: 20px;
    /* font-weight: 1000; */
}
#ProdContent .right-side .top .amt{
    margin-bottom: 5px;
    font-size: 22px;
    
}
#ProdContent .right-side .top .amt .fare{
    font-weight: 900;
    color: rgb(36, 31, 31);
}
#ProdContent .right-side .top .rating{
    display: flex;
    margin-bottom: 5px;
    /* justify-content: center; */
    align-items: center;

}
#ProdContent .right-side .top  .rate{
    display: flex;
    border: 1px solid black;
    width: 50px;
    border-radius: 50px;
    padding: 5px;
    font-size: 12px;
    align-items: center;
    background-color: rgb(133, 225, 133);
    color: white;
    font-weight: 700;
    padding-top: 6px;
    justify-content: space-around;
}
#ProdContent .right-side .top  .rate p{
    font-size: 10px;

}
#ProdContent .right-side .top  .rating .p{
    margin-left: 3px;
    font-size: 11px;
}
#ProdContent .right-side .top .deliv{
    font-size: 12px;
    padding-bottom: 10px;
}

/* top-end */

/* mid-st */

#ProdContent .right-side .mid{
    border: 1px solid black;
    width: 85%;
    margin-top:30px ;
    border-radius: 10px;

}
#ProdContent .right-side .mid .center{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ProdContent .right-side .mid .center p{
    font-size: 25px;
}
#ProdContent .right-side .mid .sizes{
    display: flex;
    justify-content: space-evenly;
    /* width: 60px; */
}
#ProdContent .right-side .mid .sizes .size{
    border: 1px solid black;
    background-color: rgb(236, 229, 221);

    display: flex;
    justify-content: center;
    width: 60px;
    /* background-color: beige; */
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding: 10px;
    border-radius: 20px;
    /* margin-left: 10px; */
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
}
#ProdContent .right-side .mid .size p{
    margin: 0;
    padding: 0;
    
}
#ProdContent .right-side .mid .size .cost{
    font-size: 11px;
    padding-top: 2px;
}
#ProdContent .right-side .bot{
    border: 1px solid black;
    border-radius: 10px;

    width: 85%;
    margin-top: 30px;
    padding-bottom: 30px;
}
#ProdContent .right-side .bot .center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#ProdContent .right-side .bot .center h1{
    font-size: 25px;        
    padding-top: 15px;
    padding-bottom: 20px;
}
#ProdContent .right-side .bot .contentDetails p {
    padding-left: 20px;
    font-size: 14px;
    margin: 0;
    margin-bottom:4px ;
}
/* #MainProd .simiProd{
    background-color: rgb(31, 55, 33);
} */
#ProdContent .right-side .bot .contentDetails .sizess{
    margin-left: 40px;
    /* margin-bottom: 10px; */
}
#MainProd .simiProd .disp-similar{
    /* background-color: aqua;   */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;

}
#MainProd .simiProd h1{
    margin-top: 80px;
    margin-left: 77px;
}

/* Reviews Section */
#MainProd .reviews {
    margin: 50px 70px 30px 70px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(233, 242, 249);
    padding: 20px;
    position: relative;
}

#MainProd .reviews h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}

#MainProd .reviews .reviews-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 100%;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 200px;
}

#MainProd .reviews .review-item {
    border: none;
    border-radius: 10px;
    background-color: white;
    padding: 15px 20px;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: fit-content;
}

#MainProd .reviews .review-item p {
    margin: 5px 0;
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

#MainProd .reviews .review-item p:first-child {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

#MainProd .reviews .review-item p:last-child {
    font-size: 12px;
    color: rgb(36, 31, 31);
    font-weight: 600;
}

/* Review Form Styles */
#MainProd .reviews .review-form {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    width: 350px;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: fit-content;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#MainProd .reviews .review-form h3 {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

#MainProd .reviews .review-input-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#MainProd .reviews .review-input-group label {
    font-weight: normal;
    min-width: 60px;
}

#MainProd .reviews .review-input {
    flex: 1;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    box-sizing: border-box;
}

#MainProd .reviews .rating-input {
    margin-bottom: 10px;
}

#MainProd .reviews .rating-select {
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    margin-left: 10px;
}

#MainProd .reviews .submit-review-btn {
    background-color: rgb(133, 225, 133);
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    float: right;
    margin-top: 10px;
}