/* .dropdown-container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .dropdown-label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .dropdown-select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropdown-select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
  }
   */
   #Shop .shopContent{
    height: 100%;
    width: 100%;
   }