#salesPage{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
#salesPage .contents{
    display: flex;
    width: 100%;
    /* height: 100%; */
    /* background-color: aqua; */
    margin-top: 20px;
}
#salesPage .pro{
    height: 307px;
}
#salesPage .contents .filters{
    background-color: aliceblue;
    width: 25%;
    /* height: 100%; */
    height: 131vh;
}
#salesPage .contents .filters .search{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    width: 90%;
    border: 1px solid rgb(172, 213, 251);
    border-radius: 5px;
}
#salesPage .contents .items{
    padding-left: 35px;
    width: 75%;
    height: 131vh;
    display: flex;
    justify-content: start;
    gap: 20px;
    /* background-color: rebeccapurple; */
    /* margin-right: 5px;
    margin-left: 5px; */
}
#salesPage .contents .filters .sortBy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid rgb(172, 213, 251);
    background-color: white;
    padding: 10px;
    
    border-radius: 5px;
}
#salesPage .contents .filters .sortBy .options{
    border: none;
    padding: 9px;
}
#salesPage h3{
    margin-left: 20px;
}
#salesPage .pro{
    min-width: 200px;
}
#salesPage .pro-container .cart1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#salesPage .pro-container{
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 0;
}

#salesPage .pagination{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 6px;
    flex-wrap: wrap;
  }
  
  .pagination button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    background: white;
    color: #333;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
  }
  
  .pagination button:hover {
    background-color: #f0f0f0;
  }
  
  .pagination button:disabled {
    background: #eee;
    color: #999;
    cursor: not-allowed;
  }
  
  .pagination .active-page {
    background: #333;
    color: white;
    border-color: #333;
  }
  
