*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' , sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height:    54px;
    color :#222;
}

button.normal
{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
}


h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size:12px;
}

p{
    font-size: 16px;
    color: #465b42;
    margin: 15px 0 20px 0;
}