#search {
  margin: 80px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("../../image/b2.jpg");
  background-repeat: no-repeat;

  width: 100;
  height: 30vh;
}

#search .news h4 {
  color: white;
  font-size: 22px;
  font-weight: 700;
}

#search .news p {
  color: #818ea0;
  font-size: 14px;
  font-weight: 600;
}

#search .news p span {
  color: #ffbd27;
}

#search .log_in input {
  height: 3.125rem;
  width: 200%;
  padding: 01.25em;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

#search .log_in button {
  background-color: #088178;
  color: white;
  height: 3.125rem;
  line-height: 1;
  width: 50%;
  font-size: 12px;
  text-align: center;
  margin: 0 20px;
  white-space: nowrap;
}

#search .log_in button:hover {
  background-color: white;
  color: #088178;
  border: 1px solid #088178;
}

#search .log_in {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
