#AProdContent{
    width: 100%;
    display: flex;
    /* height: 100vh; */
    margin-top: 90px;
    
    
}
h1{
    margin: 0;
    padding: 0;
    line-height: 29px;
    font-size: 28px;
    font-weight: 700;
}

#AProdContent .left-side{
    /* background-color: purple; */
    /* padding-top: 70px;
    padding-left: 180px; */
    width: 45%;
}
#AProdContent .left-side .contentArea{
    margin: 30px 70px 0px 140px;
    padding: 30px 40px 30px 40px;
    border: 1px solid black;
    border-radius: 10px;
}
#AProdContent .right-side{
    width: 60%;

}
#AProdContent .left-side .mainImg{
    width: 300px;
    box-shadow: 10px 20px 30px rgba(0,0,0,0.1);

}
#AProdContent .left-side .buttons{
    display: flex;
    width: 350px;
    justify-content: space-around;
    /* background-color: red; */
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#AProdContent .left-side button{
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
#AProdContent .left-side .del{
    background-color: rgb(182, 154, 154);
    color: aliceblue;
}
#AProdContent .left-side  .line{
    width: 350px;
    margin-top: 40px;
    font-size: 10px;
    background-color: white;
     height: 1px;
      border: none;
}
#AProdContent .left-side .similarProd{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
}
#AProdContent .left-side .similarProd .img{
    
    width: 70px;
    object-fit: cover;
    cursor: pointer;
}
#AProdContent .left-side p{

    font-size: 20px;
    /* background-color: aliceblue; */
}

#AProdContent .right-side .content{
    padding-top: 30px;
    padding-left: 0;
}
#AProdContent .right-side .content .detailsBox .textBox p{
    
    font-size: 18px;
}
#AProdContent .right-side .content .detailsBox .textBox input{
    width: 270px;
    height: 40px;
    font-size: 13px;
    padding-left: 8px;
    background-color: white;
    border: 1px solid rgb(58, 25, 25);
    border-radius: 4px;

}
.input-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .input-wrapper input {
    padding-right: 30px;
    position: relative; /* ensure it respects stacking */
    z-index: 1;
  }
  
  .input-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
    z-index: 2; /* ensure it sits above the input */
    transition: color 0.3s ease;
  }
  
  .input-wrapper i:hover {
    color: #000;
  }
  
  
#AProdContent .right-side .content .detailsBox .textBox .cen{
    display: flex;
    justify-content: center;
    align-items: center;
}
#AProdContent .right-side .content .textBox{
    display: flex;
    /* background-color: black; */
}
#AProdContent .right-side .content .Update-button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
#AProdContent .right-side .content .Update-div{
    margin-top: 43px;
    margin-left: 260px;
}
/* top-side */ 

#AProdContent .right-side .top{
    border: 1px solid black;
    width: 85%;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
    /* padding-top: 40px; */
    /* margin-top: 30px; */
}
.alice{
    background-color: rgb(233, 242, 249);

}
#AProdContent .right-side .top p{
    margin: 0px;
}
#AProdContent .right-side .top .name{
    margin-bottom: 10px;
    font-size: 20px;
    /* font-weight: 1000; */
}
#AProdContent .right-side .top .amt{
    margin-bottom: 5px;
    font-size: 22px;
    
}
#AProdContent .right-side .top .amt .fare{
    font-weight: 900;
    color: rgb(36, 31, 31);
}
#AProdContent .right-side .top .rating{
    display: flex;
    margin-bottom: 5px;
    /* justify-content: center; */
    align-items: center;

}
#AProdContent .right-side .top  .rate{
    display: flex;
    border: 1px solid black;
    width: 50px;
    border-radius: 50px;
    padding: 5px;
    font-size: 12px;
    align-items: center;
    background-color: rgb(133, 225, 133);
    color: white;
    font-weight: 700;
    padding-top: 6px;
    justify-content: space-around;
}
#AProdContent .right-side .top  .rate p{
    font-size: 10px;

}
#AProdContent .right-side .top  .rating .p{
    margin-left: 3px;
    font-size: 11px;
}
#AProdContent .right-side .top .deliv{
    font-size: 12px;
    padding-bottom: 10px;
}

/* top-end */

/* mid-st */

#AProdContent .right-side .mid{
    border: 1px solid black;
    width: 85%;
    margin-top:30px ;
    border-radius: 10px;

}
#AProdContent .right-side .mid .center{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#AProdContent .right-side .mid .center p{
    font-size: 25px;
}
#AProdContent .right-side .mid .sizes{
    display: flex;
    justify-content: space-evenly;
    /* width: 60px; */
}
#AProdContent .right-side .mid .sizes .size{
    border: 1px solid black;
    background-color: rgb(236, 229, 221);

    display: flex;
    justify-content: center;
    width: 60px;
    /* background-color: beige; */
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding: 10px;
    border-radius: 20px;
    /* margin-left: 10px; */
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
}
#AProdContent .right-side .mid .size p{
    margin: 0;
    padding: 0;
    
}
#AProdContent .right-side .mid .size .cost{
    font-size: 11px;
    padding-top: 2px;
}
#AProdContent .right-side .bot{
    border: 1px solid black;
    border-radius: 10px;

    width: 85%;
    margin-top: 30px;
    padding-bottom: 30px;
}
#AProdContent .right-side .bot .center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#AProdContent .right-side .bot .center h1{
    font-size: 25px;        
    padding-top: 15px;
    padding-bottom: 20px;
}
#AProdContent .right-side .bot .contentDetails p {
    padding-left: 20px;
    font-size: 14px;
    margin: 0;
    margin-bottom:4px ;
}
/* #MainProd .simiProd{
    background-color: rgb(31, 55, 33);
} */
#AProdContent .right-side .bot .contentDetails .sizess{
    margin-left: 40px;
    /* margin-bottom: 10px; */
}
#MainProd .simiProd .disp-similar{
    /* background-color: aqua;   */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;

}
#MainProd .simiProd h1{
    margin-top: 80px;
    margin-left: 77px;
}
#MainProd{
    margin-bottom: 30px;
}
.button .del{
    background-color: rgb(188, 97, 97);
}
#AProdContent .contentArea{
    position: relative;

}
#AProdContent .contentArea .icon{
    position: absolute;
    top: 25px;
    right: 20px;
    border: 1px solid black;
    color: rgb(56, 54, 54);
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    flex-direction: column;
    color: white;
    font-size: 1.2rem;
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  