.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-box {
  background: white;
  /* padding: 20px; */
  border-radius: 10px;
  text-align: center;

  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.popup-box button {
  padding: 8px 20px 8px 20px;
  margin-right: 10px;
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 4px;
  
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.popup-box .Yes:hover{
    background-color: #724d4d; /* darker red */
    transform: scale(1.05);
  }
.popup-box .Yes {
  background-color:rgb(167, 110, 110);
  color: white;
}
/* .popup-box .No{
    background-color: gre; */
/* } */
.popup-box .No:hover {
  background-color:rgb(154, 189, 154);
  color: white;
}

